# /etc/systemd/system/clamav-scan.service
[Unit]
Description=Escaneo de virus con ClamAV

[Service]
Type=oneshot
IOSchedulingPriority=7
CPUSchedulingPolicy=5
MemoryLimit=1024M
CPUQuota=25%
Nice=19
ExecStart=/etc/clamav/detected.sh
